In [ ]:
introduction to python programming :

In [ ]:
understanding the concepts of variables in python :

In [1]:
x=2
y=3

In [2]:
z= x+y
print(z)

5

In [ ]:
rules for declaring the variables :

In [ ]:
rile01 : no namespaces while declaring the variable

In [3]:
firstname = 'RAKESH'

In [4]:
print(firstname)

RAKESH

In [ ]:
Rule01 : a variable name should not start with the number **

In [5]:
1name ='akhil'

SyntaxError: invalid decimal literal (3090298220.py, line 1)

In [7]:
name1 = 'akhil'
print (name1)

akhil

In [ ]:
rule03 : variable name should not contain any special characters

In [8]:
name@ = 'navina'
print (name@)

SyntaxError: invalid syntax (3003929555.py, line 1)

In [ ]:
introduction to data type in python :

In [ ]:
string ---> str
numbers ---> integers (int) float(decimals ) -----> float
lists ---> list
tuples ---> tuple
dictionaries ----> dict

In [ ]:
classification of datatypes :
    
    1. mutables data types ---> which we can edit/alter
    2. immutable data types ---> which we cant edit or alter

In [ ]:
introduction to string data type :
    defination : A string is a series of characters decalred in quotes
        classification : it is classified as an immutable data type
            1. single quote
            2. double quote

In [9]:
name = 'rakesh' #sinlge quote
print (name)

rakesh

In [10]:
name1 = "rakesh" #double quote
print (name1)

rakesh

In [ ]:
Understanding the string methods :
    
    methods are like built in program

In [11]:
type(name)

str

In [17]:
type(name2)

NameError: name 'name2' is not defined

In [18]:
fullname = "sara sultana"
print (fullname)

sara sultana

In [19]:
print (fullname.title())

Sara Sultana

In [20]:
print (fullname.upper())

SARA SULTANA

In [21]:
print (fullname.lower())

sara sultana